#para1{
    color:blue;
    font-size: x-large;
    font-family: cursive;
    text-decoration: underline;
    text-indent: 60px;
}
h1{
    width: 100px;
    height: 100px;
    position: fixed;
    left: 300px;
    top: 100px;
    background-color: green;
    text-align: center;
}
h2{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 300px;
    top: 210px;
    background-color: salmon;
    text-align: center;
}
h3{
    width: 100px;
    height: 100px;
    position: relative;
    left:300px;
    top: 350px;
    background-color: burlywood;
    text-align: center;
}
