div h1{
    color: brown;
    text-align: center;
    background-color: lightblue;
    white-space: nowrap;
    letter-spacing: 2px;


}
h1{
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 40px;
    border-color: brown;
    border-width: 5px;
    border:solid;
}
