#para1{
    color:blue;
}
.first{
    color: purple;
    text-align: center;
}
#para2{
    color: green;
    background-color: lightgray;
}
.second{
    color: purple;
    background-color: lightgray;
}